* {
    scroll-behavior: smooth;
}

main {
    min-height: 100vh;
}

.products-container {
    margin-top: 32px;
}


.table-img {
    max-width: 60px;
    width: 100%;
    max-height: 60px;
    height: 100%;
}

@media screen and (min-width: 601px) {
    main {
        grid-template-columns: 200px auto;
        gap: 24px;
    }
}

@media screen and (min-width: 992px) {
    .delete-product-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 32px;
    }

    #delete-form {
        max-width: 600px;
        width: 100%;
    }
}