<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Promos da Flávia</title>

    <link rel="stylesheet" href="/styles/login.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
</head>

<body>
    <header class="w3-grid w3-pink" id="header">
        <img src="/img/header-logo.webp" alt="" id="header-logo">
        <h2 class="w3-center">Promos da Flávia</h2>
    </header>

    <main>
        <h1>Admin page. Bem-vindo.</h1>
    </main>
</body>

</html>