<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Promos da Flavia</title>

    <link rel="stylesheet" href="/styles/error.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
</head>

<body>
    <header class="w3-grid w3-pink" id="header">
        <img src="/img/header-logo.webp" alt="" id="header-logo">
        <h2 class="w3-center">Promos da Flávia</h2>
    </header>

    <main>
        <div class="w3-panel">
            <h2>Ops... um erro ocorreu!</h2>
            <p>
                Você pode tentar novamente. <br />
                Caso o erro ainda persista, entre em contato com o desenvolvedor da página.
            </p>
        </div>
    </main>
</body>

</html>