main {
    min-height: 100vh;
}

.main-category-container {
    max-width: 1000px;
    width: 100%;
}

.list-category-container {
    margin-top: 16px;
    max-width: 1000px;
    width: 100%;
}

@media screen and (min-width: 601px) {
    main {
        grid-template-columns: 200px auto;
        gap: 24px;
    }

    .creation-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}