#header {
    grid-template-columns: 50px auto;
    gap: 4px;
    align-items: center;
    padding: 0px 16px;
}

#header-logo {
    width: 100%;
    height: auto;
    justify-self: center;
}

main {
    width: 100%;
    height: 90vh;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.main-left,
.main-right {
    width: 40%;
    height: auto;
}

@media screen and (max-width: 992px) {
    .main-right {
        max-width: 550px;
        width: 100%;
    }
}